<div id="<%= dom_id dependent %>">
  <p>
    <strong>Member:</strong>
    <%= dependent.member_id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= dependent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= dependent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= dependent.middle_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= dependent.birth_date %>
  </p>

  <p>
    <strong>Civil status:</strong>
    <%= dependent.civil_status %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= dependent.gender %>
  </p>

  <p>
    <strong>Mobile no:</strong>
    <%= dependent.mobile_no %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= dependent.email %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= dependent.relationship %>
  </p>

</div>
