<%= content_tag :h1, "List of Dependents" %>


<div class="text-end mb-3">
  <%= link_to new_dependent_path, class: 'btn btn-primary' do %>
    New Dependent
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <!--<th>Member</th>-->
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Birth Date</th>
            <!--
            <th>Civil Status</th>
            <th>Gender</th>
            <th>Mobile No</th>
            <th>Email</th>
            -->
            <th>Relationship</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @dependents.each do |dependent| %>
        <tr>

        <th scope="row"><%= dependent.id %></th>
        <!--
        <td><%# dependent.member_id %></td>
        -->
        <td><%= dependent.last_name %></td>
        <td><%= dependent.first_name %></td>
        <td><%= dependent.middle_name %></td>
        <td><%= dependent.birth_date %></td>
        <!--
        <td><%# dependent.civil_status %></td>
        <td><%# dependent.gender %></td>
        <td><%# dependent.mobile_no %></td>
        <td><%# dependent.email %></td>
        -->
        <td><%= dependent.relationship %></td>
    
          <td>
            <%= link_to 'View', dependent, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_dependent_path(dependent), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", dependent, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
