
<%= simple_form_for(@branch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :contact_no %>
    <%= f.input :email %>
      <% if @branch.service_fee.present? == true %>
      <% svfee = @branch.service_fee %>
    <%= f.input :service_fee, label: "Service Fee (%)", collection: Branch::SFEE, selected: svfee.to_i, input_html: { data: { select_target: "#" }  } %>
      <% else %>
    <%= f.input :service_fee, label: "Service Fee (%)", collection: Branch::SFEE, input_html: { data: { select_target: "#" }  } %>
      <% end %>
  </div>

  <div class="form-actions">
    <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, branches_path, class: "btn btn-secondary btn-sm" %>
    <%= f.button :submit, class:"btn btn-primary" %>
  </div>
<% end %>
