<%= content_tag :h1, "List of Branches" %>
<%# "Admin : #{current_user.admin?}" %>
<%# current_user.email %>
<%# current_user.user_detail.branch %>

<% if current_user.admin? %>
<div class="text-end mb-3">
  <%= link_to new_branch_path, class: 'btn btn-primary' do %>
    New Branch
  <% end %>
</div>
<% end %>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Branch</th>
        <th>
          Action
          <%# current_user.admin? %>
          <%# current_user.user_detail.branch_id %>
          <%# current_user.user_detail.branch.name %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% 
        bId = 0
        @branches.each do |branch| 
          bId = branch.id
      %>
      <tr>
        <th scope="row"><%= branch.id %></th>
        <td>
          <div class="text-wrap fw-bold"><%= branch.name %></div>
          <div class="text-wrap fw-lighter">
            <% 
              individual_plan = branch.branch_premium("lppi", bId) 
              group_plan = branch.branch_premium("gyrt", bId) 
              # total_premium = (individual_plan+group_plan)
            %>
            <small class="text-muted">
              <%#= 
                "Centers: "+"#{branch.center_names.count(:id)}"+" | Remittance: "+"#{branch.count_branch_id(branch.id)}"+" | Premium: "+"LPPI("+"#{to_curr(individual_plan)}"+") SGYRT ("+"#{to_curr(group_plan)}"+")"
              %> 
              <%= "Centers: "+"#{branch.center_names.count(:id)}"+" | Remittance: "+"#{branch.count_branch_id(branch.id)}" %>
            </small>
          </div>
        </td>
        <td>
          <%= link_to '<i class="bi bi-eye-fill"></i>'.html_safe, branch, data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
          <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_branch_path(branch), data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
          <%= link_to '<i class="bi bi-trash"></i>'.html_safe, branch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
    
  </table>
