
<%= simple_form_for(@center_name) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <% if current_user.admin? %>
    <%= f.association :branch %>
  <% else %>  
    <%= f.association :branch, selected: current_user.user_detail.branch_id, wrapper_html: { hidden: true } %>
  <% end %>  
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
