<div id="<%= dom_id group_benefit %>">
  <p>
    <strong>Member type:</strong>
    <%= group_benefit.member_type %>
  </p>

  <p>
    <strong>Residency floor:</strong>
    <%= group_benefit.residency_floor %>
  </p>

  <p>
    <strong>Residency ceiling:</strong>
    <%= group_benefit.residency_ceiling %>
  </p>

  <p>
    <strong>Life:</strong>
    <%= group_benefit.life %>
  </p>

  <p>
    <strong>Add:</strong>
    <%= group_benefit.add %>
  </p>

  <p>
    <strong>Burial:</strong>
    <%= group_benefit.burial %>
  </p>

</div>
