<div id="<%= dom_id group_benefit %>">
  <p>
    <strong>Benefit:</strong>
    <%= group_benefit.benefit_id %>
  </p>

  <p>
    <strong>Residency from:</strong>
    <%= group_benefit.residency_from %>
  </p>

  <p>
    <strong>Residency to:</strong>
    <%= group_benefit.residency_to %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= group_benefit.relationship %>
  </p>

  <p>
    <strong>Amount benefit:</strong>
    <%= group_benefit.amount_benefit %>
  </p>

</div>
