<%#<div class="card mb-3">
  <%# <img src="..." class="card-img-top" alt="..."> %
  <%# image_tag 'pmfc.jpg', width: 10, class: 'card-img-top' %
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div> %>

<div class="card mb-3" style="max-width: 100rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'pmfc.jpg', width: 10, class: 'card-img-top' %>
    </div>
    <div class="col-md-8">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card-body">
              <h1 class="card-title"><%= to_numdelimit(@cntmember) %></h1>
              <p class="card-text"><%= link_to members_path, data: { turbo_method: :get }, class: 'position-relative' do %>
                Enrolled
              <% end %></p>
            </div>
          </div>
          <!--<div class="col">
           <div class="card-body">
              <h5 class="card-title">Loans</h5>
              <p class="card-text">000</p>
            </div>
          </div>-->
          <div class="col">
            <div class="card-body">
              <h1 class="card-title"><%= to_numdelimit(@cn_exp_cvg) %></h1>
              <p class="card-text"><%= link_to renewal_coverages_path, data: { turbo_method: :get }, class: 'position-relative' do %>
                Renewals
              <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%#<div class="card text-bg-dark">
  <%= image_tag 'pmfc.jpg', width: 10, class: 'card-img-top' %
  <div class="card-img-overlay text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div> %>