
<%= simple_form_for(@premium_rate) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :batch, label_method: :batch_info, include_blank: true %>
    <%= f.input :premium %>
    <%#= f.input :min_age %>
    <%#= f.input :max_age %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
