
<%= simple_form_for(@group_premium) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :residency_from %>
    <%= f.input :residency_to %>
    <%= f.input :term_coverage %>
    <%= f.input :amount_premium %>
    <%= f.input :relationship %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
