<div id="<%= dom_id group_premium %>">
  <p>
    <strong>Member type:</strong>
    <%= group_premium.member_type %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= group_premium.term %>
  </p>

  <p>
    <strong>Residency floor:</strong>
    <%= group_premium.residency_floor %>
  </p>

  <p>
    <strong>Residency ceiling:</strong>
    <%= group_premium.residency_ceiling %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= group_premium.premium %>
  </p>

</div>
