<div id="<%= dom_id group_premium %>">
  <p>
    <strong>Residency from:</strong>
    <%= group_premium.residency_from %>
  </p>

  <p>
    <strong>Residency to:</strong>
    <%= group_premium.residency_to %>
  </p>

  <p>
    <strong>Term coverage:</strong>
    <%= group_premium.term_coverage %>
  </p>

  <p>
    <strong>Amount premium:</strong>
    <%= group_premium.amount_premium %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= group_premium.relationship %>
  </p>

</div>
