<%= content_tag :h1, "List of Group Premia" %>


<div class="text-end mb-3">
  <%= link_to new_group_premium_path, class: 'btn btn-primary' do %>
    New Group Premium
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Member Type</th>
            <th>Term</th>
            <th>Residency Floor</th>
            <th>Residency Ceiling</th>
            <th>Premium</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @group_premia.each do |group_premium| %>
        <tr>

        <th scope="row"><%= group_premium.id %></th>
        <td><%= group_premium.member_type %></td>
        <td><%= group_premium.term %></td>
        <td><%= group_premium.residency_floor %></td>
        <td><%= group_premium.residency_ceiling %></td>
        <td><%= group_premium.premium %></td>
    
          <td>
            <%= link_to 'View', group_premium, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_group_premium_path(group_premium), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", group_premium, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
