<% age_r = params[:qry] %>
<% pln = params[:pln] %>
<% pth = params[:pth] %>
<% psubs = pth.split("-") %>
<% psubs.size %>

<div id="<%= dom_id batch %>">
  <div class="row mb-3">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Batch</div>
        <div class="card-body">
            <!--Branch Info-->
            <div class="mb-3">
              <strong>Title:</strong>
              <%= batch.title %> <br>
              <strong>Branch:</strong>
              <%= batch.branch %> <br>
              <strong>Description:</strong>
              <%= batch.description %> <br>
              <!--<p class="text-primary"> Count: <%# batch.coverages.count %> </p>-->
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">

          <dl class="row">
            <dt class="col-sm-5">Count</dt>
            <dd class="col-sm-7"><%= batch.coverages.count %></dd>
            <% 
              lppi = 0
              gyrt = 0
              if pln == "0" 
                lppi = batch.coverages.sum(:loan_premium)
            %>
            <dt class="col-sm-5">Plan Type</dt>
            <dd class="col-sm-7">LPPI</dd>
            <dt class="col-sm-5">Loan Coverage</dt>
            <dd class="col-sm-7"><%= to_curr(batch.coverages.sum(:loan_coverage)) %></dd>
            <dt class="col-sm-5">Gross Premium</dt>
            <dd class="col-sm-7"><%= to_curr(lppi) %></dd>
            <% 
              else 
                gyrt = batch.coverages.sum(:group_premium)+(batch.batch_coverage)
            %>
            <dt class="col-sm-5">Plan Type</dt>
            <dd class="col-sm-7">GYRT/SGYRT</dd>
            <dt class="col-sm-5">Gross Premium</dt>
            <dd class="col-sm-7"><%= to_curr(gyrt) %></dd> 
            <% end %>
          </dl>
          
          <%# loan_premium = batch.coverages.sum(:loan_premium) %>
            <%# principal_premium = batch.coverages.sum(:group_premium) %>
            <%# dependent_premium = batch.dependent_coverages.sum(:premium) %>
            <!-- <small> Loan Premium: <%#= to_curr(loan_premium) %> <br> Principal: <%#= to_curr(principal_premium) %> <br> Dependent: <%#= to_curr(dependent_premium) %></small> <br>
            <strong>Total Premium: <%#= to_curr(loan_premium + principal_premium + dependent_premium) %></strong> -->
            
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="mb-3">
        <% spath = psubs[0] %>
        <% surl = psubs[1] %>
        <% case spath %>
        <% when "br1" %>
          <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, branch_url(surl), class: "btn btn-secondary btn-sm" %>
        <% when "b1" %>
          <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, batches_path, class: "btn btn-secondary" %>
          <%= link_to "New Loan", new_coverage_path(b: batch, c: 0), class: "btn btn-primary", data: { turbo_frame: "remote_modal" } unless batch.submit? %>
          <%#= link_to "New Center", new_center_name_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
          <%= link_to "Import Coverage", import_cov_batch_path(), class: "btn btn-outline-primary", data: {turbo_frame: "remote_modal"} unless batch.submit? %>
          <%= link_to "Submit", batch_submit_batch_path(batch), class: "btn btn-outline-success" unless batch.submit? %>
          <%= link_to 'Download'.html_safe, batch_path(batch, format: :csv), class: 'btn btn-secondary' if batch.submit? %>
          <%= link_to 'Preview'.html_safe, batch_preview_batch_path(batch, pln: pln), class: 'btn btn-primary', :target => '_blank' if batch.submit? %>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-funnel"></i>
              </button>
              <ul class="dropdown-menu">
                <%= link_to 'All', batch_url(batch, qry: "0", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '18-65', batch_url(batch, qry: "1865", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '66-70 350,000 and below', batch_url(batch, qry: "6670b", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '66-70 350,001 and above', batch_url(batch, qry: "6670a", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '71-75 350,000 and below', batch_url(batch, qry: "7175b", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '71-75 350,001 and above', batch_url(batch, qry: "7175a", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '76-80 350,000 and below', batch_url(batch, qry: "7680b", pln: pln, pth: "b1"), class: 'dropdown-item' %>
                <%= link_to '75-80 350,001 and above', batch_url(batch, qry: "7680a", pln: pln, pth: "b1"), class: 'dropdown-item' %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <!-- SEARCH --
    <div class="col-lg-6">
      <%#= form_with( url: batch, method: :get, data: {turbo_frame: "search_member"} ) do |form| %>
        <div class="input-group mb-3">
          <%#= form.text_field :query, placeholder: 'Search by last name...', class: "form-control" %>
          <%#= form.submit 'Search', class: "btn btn-success" %>
        </div>
      <%# end %>
    </div>
    -- SEARCH -->

  </div>

  <%#== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <%#= render 'coverages/show_group_coverage', sw: @records %>
  
  <% if pln == "0" %>
    <%= render 'coverages/show_loan_coverage', sw: @show_coverage %>
  <% else %>
    <%= render 'coverages/show_group_coverage', sw: @show_coverage %>
  <% end %>
  
</div>