<div id="<%= dom_id batch %>">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Batch</div>
        <div class="card-body">
            <!--Branch Info-->
            <div class="mb-3">
              <div class="text-wrap fw-lighter"><strong>Title:</strong><small><%= batch.title %></small></div>
              <div class="text-wrap fw-lighter"><strong>Branch:</strong><small><%= batch.branch %></small></div>
              <div class="text-wrap fw-lighter"><small><%= batch.description %></small></div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-5">Count</dt>
            <dd class="col-sm-7"><%= @show_coverage.nil? ? 0 : @show_coverage.count %></dd>
            <dt class="col-sm-5">Loan Coverage</dt>
            <dd class="col-sm-7"><%= to_curr(@show_coverage.sum(:loan_coverage)) %></dd>
            <dt class="col-sm-5">Gross Premium</dt>
            <dd class="col-sm-7"><%= to_curr(@show_coverage.sum(:loan_premium)) %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, batches_path, class: "btn btn-secondary" %>
    <%= link_to "New Loan", new_coverage_path(b: batch), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
    <%= link_to 'All', batch_url(batch, s: 0), class: 'btn btn-secondary btn-sm' %>
    <%= link_to '18 - 65', batch_url(batch, s: 1), class: 'btn btn-secondary btn-sm' %>
    <%= link_to "import", import_cov_batch_path(), class: "btn btn-outline-primary btn-sm", data: {turbo_frame: "remote_modal"} %>
  </div>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <%= render 'coverages/show_group_coverage', sw: @records %>
</div>