
<%= simple_form_for(@batch) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>

    <%# current_user.admin? %><br>
    <%# current_user.user_detail.branch_id %>

    <% if current_user.admin? %>
      <%= f.association :branch %>
    <% else %>
      <%= f.association :branch, collection: Branch.where(id: current_user.user_detail.branch_id), selected: current_user.user_detail.branch_id, wrapper_html: { hidden: true } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
