<%= content_tag :h1, "List of Batches" %>


<div class="text-start mb-3">
  <%= link_to new_batch_path, data: { turbo_frame:"remote_modal" }, class: 'btn btn-primary' do %>
    New Batch
  <% end %>
</div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Batch</th>
            <th class="text-end">Premium</th>
            
        </tr>
    </thead>

    <tbody>
      <% 
        bcount = 0
        @batches.each do |batch| 
          bcount += 1
      %>
        <tr>

          <th scope="row"><%= batch.id %></th>
          <td><%= batch.title %> <strong><%= batch.branch %></strong> <%= batch_status(batch.submit) %> <br>
          <small class="text-primary"><%= batch.coverages.count %> coverage(s) <br>
           <%= link_to 'View', batch_url(batch, s: 0), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_batch_path(batch), data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
              <%= link_to "Delete", batch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </small></td>
          <td class="text-end">
            <% loan_premium = batch.coverages.sum(:loan_premium) %>
            <% principal_premium = batch.coverages.sum(:group_premium) %>
            <% dependent_premium = batch.dependent_coverages.sum(:premium) %>
            <small> Loan Premium: <%= to_curr(loan_premium) %> <br> Principal: <%= to_curr(principal_premium) %> <br> Dependent: <%= to_curr(dependent_premium) %></small> <br>
            <strong>Total Premium: <%= to_curr(principal_premium + dependent_premium) %></strong>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
