<%= content_tag :h1, "List of Batches" %>
<!--Search-->
    <div class="col-lg-6">
      <%= form_with( url: batches_path, method: :get, data: {turbo_frame: "search_batch"} ) do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :query, placeholder: 'Search by Batch/Title/Reference#...', class: "form-control" %>
        <%= form.submit 'Search', class: "btn btn-success" %>
        <!--New-Btn-->
        <%= link_to new_batch_path, data: { turbo_frame:"remote_modal" }, class: 'btn btn-primary' do %>
          New Batch
        <% end %>
        <!--New-Btn-->
      </div>
      <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<!--Search-->
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Batch</th>
      <th class="text-center">Enrolled</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% 
    bcount = 0
    @batches.each do |batch| 
      bcount += 1
  %>
    <tr id="load_batch">
      <th scope="row"><%= batch.id %></th>
      <td><%= batch.title %> <strong><%= batch.branch %></strong> <br> <%= batch.description %></td>
      <td class="text-center"><%= batch.coverages.count %></td>
      <td class="text-end">
        <% lppi = 0 %>
        <% lppi = batch.coverages.sum(:loan_premium) %>
        <% if lppi == 0 %>
          <%= link_to '<i class="bi bi-file-plus"></i>'.html_safe+" Add Coverage", batch_url(batch, qry: 0, pln: 0, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
        <% else %>
          <%#= link_to '<i class="bi bi-eye-fill"></i>'.html_safe+" #{to_curr(lppi)}", batch_url(batch, qry: 0, pln: 0, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
          <%= link_to '<i class="bi bi-eye-fill"></i>'.html_safe+" View LPPI", batch_url(batch, qry: 0, pln: 0, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
        <% end %>
      </td>
      <td class="text-end">
        <!--<div class="text-wrap fw-lighter"><small><%# to_curr(batch.coverages.sum(:group_premium)+(batch.batch_coverage)) %></small></div>-->
        <% gyrt = 0 %>
        <% gyrt = batch.coverages.sum(:group_premium)+(batch.batch_coverage) %>
        <% if gyrt == 0 %>
          <%= link_to '<i class="bi bi-file-plus"></i>'.html_safe+" Add Coverage", batch_url(batch, qry: 0, pln: 1, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
        <% else %>
          <%#= link_to '<i class="bi bi-eye-fill"></i>'.html_safe+" #{to_curr(gyrt)}", batch_url(batch, qry: 0, pln: 1, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
          <%= link_to '<i class="bi bi-eye-fill"></i>'.html_safe+" View SGYRT", batch_url(batch, qry: 0, pln: 1, pth: "b1"), class: 'btn btn-secondary btn-sm' %>
        <% end %>
      </td>
      <td>
        <%# link_to 'View', batch_url(batch, s: 0), class: 'btn btn-secondary btn-sm' %>
        <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_batch_path(batch), data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
        <% unless batch.submit? %>
        <%= link_to '<i class="bi bi-trash"></i>'.html_safe, batch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>