<%= content_tag :h1, "List of Batches" %>


<div class="text-start mb-3">
  <%= link_to new_batch_path, data: { turbo_frame:"remote_modal" }, class: 'btn btn-primary' do %>
    New Batch
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Batch</th>
            
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @batches.each do |batch| %>
        <tr>

          <th scope="row"><%= batch.id %></th>
          <td><%= batch.title %> <strong><%= batch.branch %></strong> <br>
          <%= batch.description %></td>
          <td>
              <%= link_to 'View', batch, class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_batch_path(batch), data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
              <%= link_to "Delete", batch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
