<%= content_tag :h1, "List of Batches" %>


<div class="text-start mb-3">
  <%= link_to new_batch_path, data: { turbo_frame:"remote_modal" }, class: 'btn btn-primary' do %>
    New Batch
  <% end %>
</div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Batch</th>
            <th class="text-center">Count</th>
            <th class="text-end">LPPI Premium</th>
            <th class="text-end">Group Premium</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% 
        bcount = 0
        @batches.each do |batch| 
          bcount += 1
      %>
        <tr>

          <th scope="row"><%= batch.id %></th>
          <td><%= batch.title %> <strong><%= batch.branch %></strong> <br>
          <%= batch.description %></td>
          <td class="text-center"><%= batch.coverages.count %></td>
          <td class="text-end"><%= to_curr(batch.coverages.sum(:loan_premium)) %></td>
          <td class="text-end">
            <div class="text-wrap fw-lighter"><small><%#= to_curr(batch.coverages.sum(:group_premium)+(batch.batch_coverage)) %></small></div>
          </td>
          <td>
              <%= link_to 'View', batch_url(batch, s: 0), class: 'btn btn-secondary btn-sm' %>
              <%= link_to 'Edit', edit_batch_path(batch), data: { turbo_frame:"remote_modal" }, class: 'btn btn-secondary btn-sm' %>
              <%= link_to "Delete", batch, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
