<% @coverage.id %>
<% @coverage.batch_id %>
<% @coverage.member_id %>

<div id="<%= dom_id coverage %>">
  <%#= content_tag :h3, coverage.member, class: "text-primary" %>
  
  <div class="row">

    <dl class="row col-md-4">
      <dt class="col-md-12">Insured <div class="text-wrap fw-lighter"><small><%= coverage.member %></small></div></dt>
      <dt class="col-md-12">Branch <div class="text-wrap fw-lighter"><small><%= coverage.batch.branch %></small></div></dt>
      <dt class="col-md-12">Loan <div class="text-wrap fw-lighter"><small><%= "#{coverage.batch.title} (#{@coverage.coverage_status})" %></small></div></dt>
    </dl>
    <dl class="row col-md-4">
      <dt class="col-md-12">Loan Certificate <div class="text-wrap fw-lighter"><small><%= coverage.loan_certificate %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
      <dt class="col-md-12">Effectivity <div class="text-wrap fw-lighter"><small><%= to_shortdate(coverage.effectivity) %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
      <dt class="col-md-12">Terms <div class="text-wrap fw-lighter"><small><%= coverage.term %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
    </dl>
    <dl class="row col-md-4">
      <dt class="col-md-12">Group Certificate <div class="text-wrap fw-lighter"><small><%= coverage.group_certificate %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
      <dt class="col-md-12">Expiry <div class="text-wrap fw-lighter"><small><%= to_shortdate(coverage.expiry) %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
      <dt class="col-md-12">Residency <div class="text-wrap fw-lighter"><small><%= "#{coverage.residency} months" %></small></div></dt>
      <!--<dd class="col-md-6"></dd>-->
    </dl>
  </div>

<% lppi_status = @coverage.member.plan_lppi %>
<% sgyrt_status = @coverage.member.plan_sgyrt %>

<% if lppi_status == true && sgyrt_status == true %>
  <%#= "LPPI & SGYRT (active)" %>
  <%= render 'coverages/show_lppi_sgyrt', rcvgo: @coverage %>
<% elsif lppi_status == true && sgyrt_status == false %>
  <%#= "LPPI (active)" %>
  <%= render 'coverages/show_lppi', rcvgtr: @coverage %>
<% elsif lppi_status == false && sgyrt_status == true %>
  <%#= "SGYRT (active)" %>
  <%= render 'coverages/show_sgyrt', rcvgt: @coverage %>
<% end %>

</div>
