<div id="<%= dom_id coverage %>">
  <%#= content_tag :h3, coverage.member, class: "text-primary" %>
  
  <div class="row">

    <dl class="row col-md-6">
      <dt class="col-md-6">Loan Certificate</dt>
      <dd class="col-md-6"><%= coverage.loan_certificate %> </dd>
      <dt class="col-md-6">Effectivity</dt>
      <dd class="col-md-6"><%= to_shortdate(coverage.effectivity) %> </dd>
      <dt class="col-md-6">Terms</dt>
      <dd class="col-md-6"><%= coverage.term %> </dd>
    </dl>
    <dl class="row col-md-6">
      <dt class="col-md-6">Group Certificate</dt>
      <dd class="col-md-6"><%= coverage.group_certificate %> </dd>
      <dt class="col-md-6">Expiry</dt>
      <dd class="col-md-6"><%= to_shortdate(coverage.expiry) %> </dd>
      <dt class="col-md-6">Residency</dt>
      <dd class="col-md-6"><%= coverage.residency %> </dd>
    </dl>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Details</th>
        <th>Life</th>
        <th>Accidental</th>
        <th>Burial</th>
        <th>Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Principal</td>
        <td class="text-end"><%= to_curr(coverage.group_benefit.life) %></td>
        <td class="text-end"><%= to_curr(coverage.group_benefit.add) %></td>
        <td class="text-end"><%= to_curr(coverage.group_benefit.burial) %></td>
        <td class="text-end"><%= to_curr(coverage.group_premium) %></td>
      </tr>
      <% coverage.dependent_coverages.each do |dc| %>
      <tr>
        <td><small><%= dc.dependent %></small><span class="badge bg-light text-dark"><%= dc.dependent.relationship %></span></td>
        <td class="text-end"><%= to_curr(dc.group_benefit.life) %></td>
        <td class="text-end"><%= to_curr(dc.group_benefit.add) %></td>
        <td class="text-end"><%= to_curr(dc.group_benefit.burial) %></td>
        <td class="text-end"><%= to_curr(dc.premium) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>



</div>
