<%= simple_form_for(@coverage, url: url, method: meth) do |f| %>
  <!--<p style="color: green"><%# notice %></p>-->
<div class="container" data-controller="select" data-select-url="<%= coverages_path() %>">
  <div class="row align-items-start">
    <div class="col-lg-6">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <!--Form Field-->
    <div class="form-inputs">
      
      <!--Select-M-->
      <% if current_user.admin? %>
        <%= f.association :member, label: "Member", input_html: { data: { controller: 'ts--select', action: 'change->select#member_select', select_target: "coverageMember" } } %>
      <% else %>
        <%= f.association :member, collection: Member.where(branch_id: current_user.user_detail.branch_id), label: "Member", input_html: { data: { controller: 'ts--select', action: 'change->select#member_select', select_target: "coverageMember" } } %>
      <% end %>
      <!--Select-M-->

      <div>
        <!--Select-CN-->
        <% if current_user.admin? %>
          <%= f.association :center_name, collection: CenterName.all, label: "Center Name", label_method: :description, input_html: { data: { select_target: "coverageCenter" } }  %>
        <% else %>
          <%= f.association :center_name, collection: CenterName.where(branch_id: current_user.user_detail.branch_id), label: "Center Name", label_method: :description, input_html: { data: { select_target: "coverageCenter" } }  %>
        <% end %>
        <!--Select-CN-->

        <div class="row">
          <%= f.input :loan_certificate, wrapper_html: { class: "col-md-6" }  %>
          <%= f.input :group_certificate, wrapper_html: { class: "col-md-6" }  %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :effectivity %>
            <%= f.date_field :effectivity, data: { select_target: "cvgEdate" } %>
          </div>
          <div class="col-md-6">
            <%#= f.label :expiry %>
            <%#= f.date_field :expiry %>
          </div>
        </div>
        <br>
        <div class="row">
          <%= f.input :residency, wrapper_html: { class: "col-md-3", hidden: true }, input_html: { data: { select_target: "residencyInput" }  }  %>
          <%= f.input :status, wrapper_html: { class: "col-md-3" }, collection: [['New','N'],['Renewal','R']], input_html: { data: { select_target: "statusInput" }  }, include_blank: true %>
          <%= f.input :term, wrapper_html: { class: "col-md-3"}, collection: Coverage::TERMS, input_html: { data: { select_target: "termInput" }  } %>
          <%= f.input :grace_period, wrapper_html: { class: "col-md-3" }, input_html: { data: { select_target: "gpInput" }  }  %>
          <%= f.input :loan_coverage, wrapper_html: { class: "col-md-12"}, input_html: { data: { action: 'change->select#show_benefits' }  } %>
        </div>
      </div>

      <% @coverage.id? %>
      <% if @coverage.id? == true %>
      <% hstatus = @coverage.member.health_declaration %>
        <% if !hstatus.nil? && hstatus.size > 3 %>
      <div class="col-md-6"><%= f.input :substandard_rate %></div>
        <% end %>
      <% end %>
      
      <!--Member-Container-->

      <div class="form-actions">
        <%= f.button :submit, name: 'memberBtn', class: "btn btn-primary memberBtn" %>
        <%= f.button :submit, 'Add Center', name:'centerBtn', class: "btn btn-warning centerBtn", data: { action: 'click->select#add_center' } %>
      </div>

    </div>
    <!--Form Field-->
    </div>
    <div class="col-lg-6">
        <div id="cvgHistory" data-select-target="coverageHistory">
          <div class="card">
            <div><%= render 'coverages/show_prev_loan', rCvg: nil %></div>
          </div>
        </div>
        <br>
        <div id="cvgPremium" data-select-target="coveragePremium">
           <div class="card">
            <div><%= render 'coverages/show_premium', sCvg: nil %></div>
          </div>
        </div>
    </div>
    
  </div>  
</div>  

<% end %>