<%#= simple_form_for(coverage, data: { controller: "flatpickr" }) do |f| %>
<div class="row">
  <div class="col-lg-3"><% bid = params[:b] %></div>
<!--Upload Member-->
  <div class="col-lg-6">
  <%= form_with url: import_batches_path(id: bid), method: :post do |form| %>
  <%= form.label :file, "For coverage enrollment upload your csv file.", class: "form-text" %>
    <div class="d-flex gap-3">
      <%= form.file_field :file, class: "form-control", style: "width: 80%" %>
      <%= submit_tag 'Upload', class: "btn btn-primary btn-sm"%>
    </div>
  <% end %>
  </div>
<!--Upload Member-->
  <div class="col-lg-3"></div>
</div>

<hr>

<%= simple_form_for(@coverage, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#= f.association :member, label_method: :get_cmember, {}, {data: { controller: "select" }} %>
    <% if current_user.admin? %>
      <%= f.association :member, label: "Member", input_html: { data: { controller: 'ts--select' } } %>
    <% else %>
      <%= f.association :member, collection: Member.where(branch: current_user.user_detail.branch), label: "Member", input_html: { data: { controller: 'ts--select' } } %>
    <% end %>
      <div class="row">
        <%= f.input :loan_certificate, wrapper_html: { class: "col-md-6" }  %>
        <%= f.input :group_certificate, wrapper_html: { class: "col-md-6" }  %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label :effectivity %>
          <%= f.date_field :effectivity %>
        </div>
        <div class="col-md-4">
          <%#= f.label :expiry %>
          <%#= f.date_field :expiry %>
        </div>
      </div>
      <div class="row">
        <%#= f.input :term, collection: [3, 4, 6, 9, 12], wrapper_html: { class: "col-md-3"} %>
        <%= f.input :term, collection: Coverage::TERMS, wrapper_html: { class: "col-md-3"} %>
        <%= f.input :grace_period, wrapper_html: { class: "col-md-3" }  %>
        <%= f.input :status, collection: [['New','N'],['Renewal','R']], include_blank: true, wrapper_html: { class: "col-md-3" } %>
        <%= f.input :loan_coverage, wrapper_html: { class: "col-md-3" } %>
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%# console %>
  </div>
<% end %>