<table class="table table-responsive table-sm table-light table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Certificate</th>
            <th>Name</th>
            <th class="text-center">Loan Amount</th>
            <th class="text-center">Effectivity</th>
            <th class="text-center">Expiry</th>
            <th class="text-center">Term</th>
            <th class="text-center">Premium</th>
            <% unless @batch.submit? %>
            <th></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
    <% sw.each do |c| %>
        <tr>
            <th scope="row"><%= c.id %></th>
            <td class="text-center"><%= c.loan_certificate %></td>
            <td><%= c.member.get_cmember %> <br>
                <small><%= to_shortdate(c.member.birth_date) %></small> | <small class="text-primary"> Age: <%= c.age %></small> |
                <small class="text-muted">Residency: <%= c.residency %></small></td>
                <td class="text-center text-end"><div class="text-wrap fw-lighter"><small><%# csum_si += c.loan_coverage %><%= to_curr(c.loan_coverage) %></small></div>
            </td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.effectivity) %></small></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.expiry) %></small></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= c.term %></small></div></td>
            <td class="text-end"><small><%# csum_prm+= c.loan_premium %><%= to_curr(c.loan_premium) %></small></td>
            <% unless @batch.submit? %>
            <td class="text-center">
                <small>Status: <%= c.status %></small> <br>
                <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_coverage_path(c), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %> 
                <%= link_to '<i class="bi bi-trash"></i>'.html_safe, c, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
            </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>