<table class="table table-responsive table-sm table-light table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Certificate</th>
            <th>Name</th>
            <th class="text-center">Coverage</th>
            <th class="text-center">Effectivity</th>
            <th class="text-center">Expiry</th>
            <th class="text-center">Term</th>
            <th class="text-center">Premium</th>
            <th>Dependent</th>
        </tr>
    </thead>
    <tbody>
        <% sw.each do |c| %>
            <tr>
                <th scope="row"><%= c.id %></th>
                <td class="text-center"><%= c.group_certificate %></td>
                <td><%= c.member.get_cmember %> <br>
                <small><%= to_shortdate(c.member.birth_date) %></small> | <small class="text-primary"> Age: <%= c.age %></small> |
                <small class="text-muted">Residency: <%= c.residency %></small><br>
                    <small><ul>
                    <% c.dependent_coverages.each do |d| %>
                        <li> <%= d.dependent %> - <%= d.dependent.relationship %> </li>
                    <% end %>
                    </ul></small>
                </td>
                <td class="text-end"><small>L: <%= to_curr(c.group_benefit.life) %> <br>
                                                  AD: <%= to_curr(c.group_benefit.add) %> <br> B: <%= to_curr(c.group_benefit.burial) %></small></td>
                <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.effectivity) %></small></div></td>
                <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.expiry) %></small></div></td>
                <td class="text-center"><div class="text-wrap fw-lighter"><%= c.term %></td>
                <td class="text-end"><%= to_curr(c.group_premium) %></td>
                <td class="text-end"><%= c.dependent_coverages.sum(:premium) %></td>
        </tr>
        <% end %>
    </tbody>
</table>