<% if sCvg.blank? %>   
  <div class="card">
    <div class="card-header">Premium & Benefits</div>
    <div class="card-body text-center">No record found...</div>
  </div> 
<% else %>
<!--Member-Info Field-->
  <div class="card">
      <div class="card-header">Premium & Benefits</div>
      <div class="card-body">
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th colspan="3">LPPI</th>
            </tr>
            <tr>
              <th>Loan</th>
              <th>Premium</th>
              <th>Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>&#8369;<%= to_curr(sCvg.loan_coverage) %></td>
              <td>&#8369;<%= to_curr(sCvg.loan_premium) %></td>
              <td>&#8369;<%= to_curr(sCvg.rate) %></td>
            </tr>
          </tbody>
        </table>  
        <hr>
        <% sgb = GroupBenefit.find(sCvg.group_benefit_id) %>
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th colspan="5">SGYRT</th>
            </tr>
            <tr>
              <th>Details</th>
              <th class="text-center">Life</th>
              <th class="text-center">Accidental</th>
              <th class="text-center">Burial</th>
              <th class="text-center">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>Principal</td>
              <td class="text-center">&#8369;<%= to_curr(sgb.life) %></td>
              <td class="text-center">&#8369;<%= to_curr(sgb.add) %></td>
              <td class="text-center">&#8369;<%= to_curr(sgb.burial) %></td>
              <td class="text-center">&#8369;<%= to_curr(sCvg.group_premium) %></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
<!--Member-Info Field-->
<% end %>
