<table class="table table-responsive table-sm table-light table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Certificate</th>
            <th>Name</th>
            <th class="text-center">Loan Amount</th>
            <th class="text-center">Effectivity</th>
            <th class="text-center">Expiry</th>
            <th class="text-center">Term</th>
            <th class="text-center">Premium</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% 
            ccount = 0
            csum_si = 0
            csum_prm = 0
            sfee = 0
            sf_deduction = 0
            age_group = params[:s]
            slc.each do |c| 
                ccount += 1
        %>
        <tr>
            <th class="text-center" scope="row"><%= ccount %><%# c.id %></th>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= c.loan_certificate %></small></div></td>
            <td>
                <div class="text-wrap fw-lighter"><small><%= c.member.get_cmember %> <br>
                <small><%= to_shortdate(c.member.birth_date) %></small> | <small class="text-primary"> Age: <%= c.age %></small> |
                <small class="text-muted">Residency: <%= c.residency %></small>
            </td>
            <td class="text-center text-end"><div class="text-wrap fw-lighter"><small><% csum_si += c.loan_coverage %><%= to_curr(c.loan_coverage) %></small></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.effectivity) %></small></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_shortdate(c.expiry) %></small></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= c.term %></small></div></td>
            <td class="text-center text-end"><div class="text-wrap fw-lighter"><small><% csum_prm+= c.loan_premium %><%= to_curr(c.loan_premium) %></small></div></td>
            <td class="text-center">
                <small>Status: <%= c.status %></small> <br>
                <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_coverage_path(c), class: "btn btn-secondary btn-sm", data: { turbo_frame: "remote_modal" } %> 
                <%= link_to '<i class="bi bi-trash"></i>'.html_safe, c, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td class="text-end" colspan="3"><div class="text-wrap fw-lighter"><strong>Grand Total:</strong></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_curr(csum_si) %></small></div></td>
             <td></td>
            <td class="text-end" colspan="2"><div class="text-wrap fw-lighter"><strong>Total Gross Premium Due</strong></div></td>
            <td class="text-center"><div class="text-wrap fw-lighter"><small><%= to_curr(csum_prm) %></small></div></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end text-danger" colspan="7"><div class="text-wrap fw-lighter"><strong>Less: Service Fee</strong></div></td>
            <td class="text-center text-danger"><% sfee = service_fee(age_group) %>
                <% unless sfee == 0  %>
                <% sf_deduction = ((csum_prm)*(sfee)) %>
                <%= to_curr(sf_deduction) %>
                <% end %>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-end" colspan="7"><div class="text-wrap fw-lighter"><strong>Total Net Premium Due</strong></div></td>
            <td class="text-center">
                <% unless sfee == 0  %>
                    <div class="text-wrap fw-lighter"><small><%= to_curr((csum_prm)-(sf_deduction)) %></small></div>
                <% else %>
                    <div class="text-wrap fw-lighter"><small><%= to_curr((csum_prm)) %></small></div>
                <% end %>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>