<div class="text-start mb-3">
  <%# link_to "Renewals", renewal_coverages_path, data: { turbo_method: :get }, class: 'btn btn-primary' %>
  <%= link_to renewal_coverages_path, data: { turbo_method: :get }, class: 'btn btn-primary position-relative' do %>
    Renewals
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      <%= @cccvg %>
    </span>
  <% end %>
</div>

<%= content_tag :h1, "List of Loans" %>
<%== pagy_bootstrap_nav(@pagy) %>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Insured</th>
        <th>Loan Data</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% 
        cmember = ""
        cbdate = ""
        cterm = 0
        cvgcount = 0
        @coverages.each do |coverage| 
          cvgcount += 1
          cbatch = coverage.batch.title
          crate = coverage.rate
          cmember = coverage.member.get_cmember
          # cbdate = coverage.member.get_formatted_bday
          # c_age = coverage.member.compute_member_age(coverage.member.birth_date)
          cterm = coverage.term
          csuninsurge = coverage.loan_coverage
          cpremium = coverage.loan_premium
          cn_aging = coverage.coverage_aging
      %>
        <tr>

          <th scope="row"><%= coverage.id %><%# cvgcount %></th>
          <td>
            <div class="badge bg-primary text-wrap" style="width: 6rem;"><%= coverage.loan_certificate %></div>
            <div class="text-wrap fw-lighter"><strong><%= cmember.upcase %></strong></div>
            <!--
            <div class="text-wrap fw-lighter">Birth Date: <%# cbdate %></div>
            <div class="text-wrap fw-lighter">Age: <%# c_age %></div>
            -->
          </td>
          <td>
            <div class="badge bg-primary text-wrap" style="width: 10rem;"><%= coverage.coverage_date %></div>
            <div class="badge bg-primary text-wrap" style="width: 2rem;"><%= cterm %></div>
            <div class="badge bg-primary text-wrap" style="width: 4rem;"><%= coverage.coverage_status %></div>
            <% if cn_aging <= 0 %>
            <div class="badge bg-danger text-wrap" style="width: 4rem;"><%= coverage.coverage_aging_status(cn_aging) %></div>
            <% else %>
            <div class="badge bg-primary text-wrap" style="width: 6rem;"><%= coverage.coverage_aging_status(cn_aging) %></div>
            <% end %>
             <div class="text-wrap fw-lighter"><small>Coverage: <%= cbatch %></small></div>
            <div class="text-wrap fw-lighter"><small>Sum Insured: <%= csuninsurge %></small></div>
            <div class="text-wrap fw-lighter"><small>Premium: <%= cpremium %></small></div>
            <div class="text-wrap fw-lighter"><small>Rate: <%= crate %></small></div>
          </td>   
          <td>
            <%# link_to 'View', coverage_path(coverage), class: 'btn btn-secondary btn-sm' %>
            <%# link_to 'Edit', edit_coverage_path(coverage), class: 'btn btn-secondary btn-sm' %>
            <%# link_to "Delete", coverage, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>