<%= content_tag :h1, "List of Loans" %>

  <!--<div class="btn-group" role="group" aria-label="Basic example">
    <%# link_to new_coverage_path, class: 'btn btn-primary' do %> New Coverage <%# end %>
    <%# link_to new_premium_rate_path, class: 'btn btn-primary' do %>New Premium Rate<%# end %>
  </div>-->
  <div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Insured</th>
        <th>Loan Data</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% 
        cmember = ""
        cbdate = ""
        cterm = 0
        cvgcount = 0
        @coverages.each do |coverage| 
          cvgcount += 1
          cbatch = coverage.batch.title
          crate = coverage.rate
          cmember = coverage.member.get_cmember
          # cbdate = coverage.member.get_formatted_bday
          # c_age = coverage.member.compute_member_age(coverage.member.birth_date)
          cterm = coverage.term
          csuninsurge = coverage.loan_coverage
          cpremium = coverage.loan_premium
      %>
        <tr>

          <th scope="row"><%= cvgcount %></th>
          <td>
            <div class="badge bg-primary text-wrap" style="width: 6rem;"><%= coverage.loan_certificate %></div>
            <div class="text-wrap fw-lighter"><strong><%= cmember.upcase %></strong></div>
            <!--
            <div class="text-wrap fw-lighter">Birth Date: <%# cbdate %></div>
            <div class="text-wrap fw-lighter">Age: <%# c_age %></div>
            -->
          </td>
          <td>
            <div class="badge bg-primary text-wrap" style="width: 10rem;"><%= coverage.coverage_date %></div>
            <div class="badge bg-primary text-wrap" style="width: 2rem;"><%= cterm %></div>
            <div class="badge bg-primary text-wrap" style="width: 4rem;"><%= coverage.coverage_status %></div>
             <div class="text-wrap fw-lighter">Coverage: <%= cbatch %></div>
            <div class="text-wrap fw-lighter">Sum Insured: <%= csuninsurge %></div>
            <div class="text-wrap fw-lighter">Premium: <%= cpremium %></div>
            <div class="text-wrap fw-lighter">Rate: <%= crate %></div>
          </td>   
          <td>
            <%# link_to 'View', coverage_path(coverage), class: 'btn btn-secondary btn-sm' %>
            <%# link_to 'Edit', edit_coverage_path(coverage), class: 'btn btn-secondary btn-sm' %>
            <%# link_to "Delete", coverage, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  </div>