<div id="<%= dom_id dependent_coverage %>">
  <p>
    <strong>Coverage:</strong>
    <%= dependent_coverage.coverage_id %>
  </p>

  <p>
    <strong>Dependent:</strong>
    <%= dependent_coverage.dependent_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= dependent_coverage.member_id %>
  </p>

  <p>
    <strong>Term:</strong>
    <%= dependent_coverage.term %>
  </p>

  <p>
    <strong>Residency:</strong>
    <%= dependent_coverage.residency %>
  </p>

  <p>
    <strong>Group coverage:</strong>
    <%= dependent_coverage.group_coverage %>
  </p>

  <p>
    <strong>Group premium:</strong>
    <%= dependent_coverage.group_premium %>
  </p>

</div>
