<%= content_tag :h1, "List of Dependent Coverages" %>


<div class="text-end mb-3">
  <%= link_to new_dependent_coverage_path, class: 'btn btn-primary' do %>
    New Dependent Coverage
  <% end %>
</div>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      <th>#</th>
            <th>Coverage</th>
            <th>Dependent</th>
            <th>Member</th>
            <th>Term</th>
            <th>Residency</th>
            <th>Group Coverage</th>
            <th>Group Premium</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
      <% @dependent_coverages.each do |dependent_coverage| %>
        <tr>

        <th scope="row"><%= dependent_coverage.id %></th>
        <td><%= dependent_coverage.coverage_id %></td>
        <td><%= dependent_coverage.dependent_id %></td>
        <td><%= dependent_coverage.member_id %></td>
        <td><%= dependent_coverage.term %></td>
        <td><%= dependent_coverage.residency %></td>
        <td><%= dependent_coverage.group_coverage %></td>
        <td><%= dependent_coverage.group_premium %></td>
    
          <td>
            <%= link_to 'View', dependent_coverage, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_dependent_coverage_path(dependent_coverage), class: 'btn btn-secondary btn-sm' %>
            <%= link_to "Delete", dependent_coverage, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
