<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand center" href="#">
        <%= image_tag 'pmfc.png', width: 100, class: 'mb-2 mb-lg-0 me-2' %>
      </a>
      <a class="navbar-brand text-success" href="#">PMFC</a>
        <% if user_signed_in? %> 
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="<%= batches_url %>">Batch</a></li>
            <li class="nav-item"><a class="nav-link" href="<%= members_url %>">Members</a></li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Data Entries</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="<%= group_benefits_url %>">Group Benefits</a></li>
                <li><a class="dropdown-item" href="<%= group_premia_url %>">Group Premium</a></li>
                <li><hr class="dropdown-divider"></li>
                  
                <li><a class="dropdown-item" href="<%= branches_url %>">Branch</a></li>
                <li><a class="dropdown-item" href="<%= benefits_url %>">Benefits</a></li>
                <li><a class="dropdown-item" href="<%= user_details_url %>">Users</a></li>
              </ul>
            </li>
        <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i> Hi, <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="nav-item"> <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link" %></li>
              <li class="nav-item"> <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary mx-2" %></li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </nav>

<%# console %>