<!DOCTYPE html>
<html>
  <head>
    <title>PMFC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_include_tag "jquery" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div id="flash" style="width: auto" remote_modal>
          <%= render "layouts/notification" %>
        </div>
      </div>
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p>
      <%= yield %>
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
    </div>
  </body>
</html>
