<div class="nested-fields">
    <div class="row">
        <%= f.input :last_name, wrapper_html: { class: "col-md-4" } %>
        <%= f.input :first_name, wrapper_html: { class: "col-md-4" } %>
        <%= f.input :middle_name, wrapper_html: { class: "col-md-4" } %>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <%= f.label :birth_date %>
            <%= f.date_field :birth_date %>
        </div>
        <div class="col-md-6">
            <%= f.input :relationship %>
        </div>
    </div>
    <br>
    <br>
    <%= link_to_remove_association "remove dependent", f, class:"btn btn-secondary btn-sm" %>
</div>
<br>
<br>
