<%# @ulist.present? %>
<%= simple_form_for(@member, data: { controller: "flatpickr" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%# if( @member.member_id != nil ) then %>
    <%#= f.input :member_id %>
    <%# else %>
    <%#= f.input :member_id, input_html: { :value => generate_member_id } %>
    <%# end %>
    
    <!--Select-->
    <% if current_user.admin? %>
      <%= f.association :branch, label: "Branch", input_html: { data: { controller: 'ts--select' } } %>
    <% else %>
      <%= f.association :branch, collection: Branch.where(id: current_user.user_detail.branch_id), label: "Branch", input_html: { data: { controller: 'ts--select' } }, selected: Branch.where(id: current_user.user_detail.branch_id)  %>
    <% end %>
    <!--Select-->

    <div class="row">
      <%= f.input :last_name, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :first_name, wrapper_html: { class: "col-md-4" } %>
      <%= f.input :middle_name, label: "M.I", wrapper_html: { class: "col-md-2" } %>
      <%= f.input :suffix, wrapper_html: { class: "col-md-2" } %>
    </div>
    
    <!--Date-Picker-->
    <div class="row">
      <div class="col-md-6">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, class: "#bdate_pick" %>
      </div>
      <!--<div class="col-md-6">
        <%#= f.label :date_membership %>
        <%#= f.date_field :date_membership, class: "dmdate_pick" %>
     </div>-->
    </div><br>
    <!--Date-Picker-->
    <div class="row">
      <%= f.input :civil_status , collection: ['Single', 'Married', 'Widowed', 'Divorced'], include_blank: true, wrapper_html: { class: "col-md-6" } %>
      <%= f.input :gender , collection: [['Male','M'],['Female','F']], include_blank: true, wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row">
      <%= f.input :mobile_no, wrapper_html: { class: "col-md-6" } %>
      <%= f.input :email, wrapper_html: { class: "col-md-6" } %>
    </div>
    <div class="row"><%= f.input :health_declaration, wrapper_html: { class: "col-md-12" } %></div>

    <!--Plan-Activation-->
    <% if current_user.admin == true %>
    <div class="card">
      <h3 class="card-header">Plan</h3>
      <div class="card-body">
        <div class="row">
          <%= f.input :plan_lppi, label: "LPPI", wrapper_html: { class: "col-md-6" } %>
          <%= f.input :plan_sgyrt, label: "SGYRT", wrapper_html: { class: "col-md-6" } %>
        </div>
      </div>
    </div>
    <% end %>
    <!--Plan-Activation-->
    <br>
    <!--Nested-Cocoon-->
    <div class="card">
      <h3 class="card-header">Dependents</h3>
      <div class="card-body">
        <div id="dependents">
          <% f.simple_fields_for :dependents do |dependent| %>
            <%= render "dependent_fields", f: dependent %>
          <% end %>
        </div>
      <div class="links">
        <%= link_to_add_association "add dependent", f, :dependents, class:"btn btn-secondary btn-sm" %>
      </div>
    </div>
    </div>
    <!--Nested-Cocoon-->
  </div>
  <br>
  <br>
  <div class="form-actions">
    <%= link_to '<i class="bi bi-arrow-bar-left"></i>'.html_safe, members_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
