<div class="row">
  <div class="col-md-6" id="<%= dom_id member %>">
    <%= content_tag :h4, "Member Info" %>
    <!--<p>
      <strong>Member:</strong>
      <%#= member.member_id %>
      <%# member.id %>
    </p>-->
    <p><strong>Name: </strong><%= member.get_cmember %></p>
    <p><strong>Birth date: </strong><%= member.get_formatted_bday %></p>
    <p><strong>Date membership: </strong><%= member.get_formatted_membership %></p>
    <p><strong>Civil status: </strong><%= member.civil_status %></p>
    <p><strong>Gender: </strong><%= member.gender %></p>
    <p><strong>Mobile no: </strong><%= member.mobile_no %></p>
    <p><strong>Email: </strong><%= member.email %></p>
  </div>

  <div class="col-md-6">
    <%= content_tag :h4, "List of Dependents" %>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Dependent Info</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% 
            dpdntcount = 0
            @member.dependents.each do |dependent| 
              dpdntcount += 1
          %>
            <tr>
              <th scope="row"><%= dpdntcount %></th>
              <td>
                <div class="text-wrap fw-lighter">Name: <strong><%= dependent %></strong></div>
                <div class="text-wrap fw-lighter">Birth Date: <%= dependent.get_formatted_dbday %></div>
                <div class="text-wrap fw-lighter">Relation: <%= dependent.relationship %></div>
              </td>
              <td>
                <%= link_to 'View', dependent, class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Edit', edit_dependent_path(dependent), class: 'btn btn-secondary btn-sm' %>
                <%= link_to "Delete", dependent, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>