<div class="row">
  <div class="col-md-4">
    <div class="mt-4 p-5 bg-secondary text-white rounded" id="<%= dom_id member %>">
      <h1><%= member.get_cmember %></h1>
      <div class="text-wrap fw-lighter"><strong>Birth date: </strong><%= member.get_formatted_bday %></div>
      <div class="text-wrap fw-lighter"><strong>Date membership: </strong><%= member.get_formatted_membership %></div>
      <div class="text-wrap fw-lighter"><strong>Civil status: </strong><%= member.civil_status %></div>
      <div class="text-wrap fw-lighter"><strong>Gender: </strong><%= member.gender %></div>
      <div class="text-wrap fw-lighter"><strong>Mobile no: </strong><%= member.mobile_no %></div>
      <div class="text-wrap fw-lighter"><strong>Email: </strong><%= member.email %></div>
    </div>
  </div>  
  <div class="col-md-8">
    <%= content_tag :h4, "List of Dependents" %>
    <div class="text-start mb-3">
      <%= link_to new_dependent_path(m: member), class: 'btn btn-primary' do %>
        New Dependent
      <% end %>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Dependent Info</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% 
            dpdntcount = 0
            @member.dependents.each do |dependent| 
              dpdntcount += 1
          %>
            <tr>
              <th scope="row"><%= dpdntcount %></th>
              <td>
                <div class="text-wrap fw-lighter">Name: <strong><%= dependent %></strong></div>
                <div class="text-wrap fw-lighter">Birth Date: <%= dependent.get_formatted_dbday %></div>
                <div class="text-wrap fw-lighter">Relation: <%= dependent.relationship %></div>
              </td>
              <td>
                <%= link_to 'View', dependent, class: 'btn btn-secondary btn-sm' %>
                <%= link_to 'Edit', edit_dependent_path(dependent), class: 'btn btn-secondary btn-sm' %>
                <%= link_to "Delete", dependent, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
