<%# content_tag :h1, "List of Members" %>
<div class="card mb-3">
  <div class="card-header">Member Module</div>
  <div class="card-body">
      <div class=" row">
        <div class="col-lg-4"></div>
        <!--Upload Member-->
        <div class="col-lg-4">
          <%= form_with url: import_members_path, method: :post do |form| %>
              <%= form.label :file, "For member enrollment upload your csv file.", class: "form-text" %>
              <div class="d-flex gap-3">
                <%= form.file_field :file, class: "form-control", style: "width: 80%" %>
                <%= submit_tag 'Upload', class: "btn btn-primary btn-sm" %>
              </div>
            <% end %>
        </div>
        <!--Upload Member-->
        <div class="col-lg-4"></div>
      </div> 
    </div> 
</div>

<div class="row">
<!--Search-->
  <div class="col-lg-12">
    <%= form_with( url: members_path, method: :get, data: {turbo_frame: "search_member"} ) do |form| %>
    <div class="input-group mb-3">
      <%= form.text_field :query, placeholder: 'Search by last name...', class: "form-control" %>
      <%= form.submit 'Search', class: "btn btn-success" %>
      <!--Add Member-->
      <%= link_to new_member_path, data: { turbo_frame:"remote_modal" }, class: 'btn btn-primary' do %> New Member <% end %>
      <!--Add Member-->
    </div>
    <% end %>
      <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<!--Search-->
  <div class="col-lg-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Member Info</th>
          <th>Coverage</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
        <tr class="table-secondary" id="members">
          <th><%= member.id %></th>
          <td>
          <% 
            dpcount = member.count_dependent
            hstatus = member.health_declaration
          %>
            <% if dpcount > 0 %>
            <div class="text-wrap fw-bold">
              <strong><%= member.get_cmember.upcase %></strong>
              <span class="badge bg-secondary">Principal</span>
              <% if !hstatus.nil? && hstatus.size > 3 %>
                <span class="bi bi-clipboard2-pulse-fill"></span>
              <% end %>
            </div>
            <% else %>
            <div class="text-wrap fw-bold"><strong><%= member.get_cmember.upcase %></strong></div>
            <% end %>
            <div class="text-wrap fw-light">
              <small> Birth Date: <%= to_shortdate(member.birth_date) %> | Membership: <%= to_shortdate(member.date_membership) %></small>
            </div>
          </td>
          <td>
            <% member.coverages.each do |mcb| %>
              <div class="text-wrap fw-light"><small><%= mcb.batch.title %></small></div>
            <% end %>
          </td>
          <td>
            <%= link_to '<i class="bi bi-eye-fill"></i>'.html_safe, member, class: 'btn btn-secondary btn-sm ' %>
            <%= link_to '<i class="bi bi-pencil-square"></i>'.html_safe, edit_member_path(member), class: 'btn btn-secondary btn-sm' %>
            <%= link_to '<i class="bi bi-trash"></i>'.html_safe, member, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
        <%
          mdcount = 0 
          member.dependents.each do |md| 
            mdcount += 1
        %> 
        <tr class="table-info">
          <td></td>
          <td colspan="3"><div class="text-wrap fw-light text-muted"><small><%= "#{member.alpharray(mdcount)}. "+md.full_name %><span class="badge bg-muted text-dark">Dependent</span></small></div></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>